#map_SVG {
  z-index:1;
  width: 960px;
  height:720px;
  position: absolute;
}

#canvas {
  z-index:2;
  width: 960px;
  height:720px;
  position: absolute;
  background: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.subunit.CAN { fill: #DCDCDC; }

.fill-tomato {
  fill: 'red';
}

.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.button {
  width: 140px;
}

.options {
  width: 60px;
}

.title {
  font-size: 3rem;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.help-text {
  font-size: 1.3rem;
  font-family:  monospace;
}

.is-disabled {
    opacity: .5;
    pointer-events: none;
}

.scroll-down {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  right: 100px;
  top: 0;
  display: none;
  color: #dcdcdc;
  font-size: 3rem;
}

@keyframes MoveUpDown {
  0% {
    top: 0;
  }
  50% {
    top: 100px;
  }
  100% {
    top: 0;
  }
}

@media screen and (max-width: 1350px) {
    .main {
      float: none;
      position: absolute;
      top: 750px;
      display: flex;
      width: 100vw;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    .main-group {
      max-width: 25%;
      width: 25%;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      font-size: 1em;
    }

    .scroll-down {
      display: block;
    }
}

@media screen and (min-width: 1350px) {
  .main {
    float:right;
    padding:2rem;
    font-size: 1.5rem;
    text-align: center;
    width: 250px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-around;
    text-align: center;
  }

  .main-group {
    display: flex;
    flex-direction: column;
  }
}
